{% extends 'base.html' %} {% block content %}
<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, enim saepe
  consectetur deserunt facilis laudantium unde praesentium laborum, illo omnis
  quas officiis nesciunt cumque, fugiat quis accusantium harum ipsum laboriosam
  recusandae iste itaque! Dolores rerum illum excepturi dolor corrupti rem ut
  debitis, velit adipisci sapiente. Velit fugiat consequuntur modi fuga, dolores
  quas cumque quod tempore ut ab ea pariatur obcaecati suscipit, quo voluptate
  sed temporibus sint id. Eaque facilis vel ipsa pariatur rerum aliquam
  provident ab voluptate sapiente illum recusandae animi qui, quisquam,
  explicabo vitae eveniet adipisci aliquid velit! Blanditiis eos autem esse,
  consectetur nostrum amet harum laudantium eum labore?
</p>
{% endblock %}
